<div class="container">
  <div class="row pagination">
    <span class="col">{{outputRange products.CurrentPage products.RowsPerPage}}</span>
    <div class="col">
      <a href="/Catalog?page={{previousPage products.CurrentPage}}&rows={{products.RowsPerPage}}">
          <<
      </a>

      <a href="/Catalog?page={{nextPage products.CurrentPage}}&rows={{products.RowsPerPage}}">
          >>
      </a>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
      {{#each products.headers}}
        <th scope="col">{{this}}</th>
      {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each products.data}}
      <tr>
        {{#with this}}
          <td>{{ProductID}}</td>
          <td>{{Name}}</td>
          <td>{{StandardCost}}</td>
          <td>{{ListPrice}}</td>
          <td>{{Size}}</td>
          <td>{{Weight}}</td>
          <td>{{DaysToManufacture}}</td>
        {{/with}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
